@import url('https://fonts.googleapis.com/css2?family=Noto+Sans:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
* {
    box-sizing: border-box;
}

main, aside {
    margin: 0;
    padding: 0;
}

body {
    background-color: #191919;
    color: rgb(212 212 212);
    font-family: 'Montserrat', sans-serif;
    margin: 0;
    padding: 0;
}

.container {
    display: flex;
    height: calc(100vh - 44px);
}

aside {
    display: flex;
    flex-direction: column;
    align-items: center;
    min-width: 52px;
    /* background: radial-gradient(ellipse at 40% 0%, #bf398910 0, transparent 75%), radial-gradient(ellipse at 60% 0%, #096bde10 0, transparent 75%); */
    /* box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.5); */
    background: radial-gradient(ellipse at 10% 10%, #bf398910, #33597400);
    /* background: radial-gradient(ellipse at 10% 10%, #61254910, #74335a10); */
    padding: 20px;
    box-shadow: 2px 0 5px rgba(0, 0, 0, 0.1);
}

nav {
    list-style: none;
    padding: 0;
    margin: 0;
}

main {
    padding: 20px;
    overflow-y: auto;
    width: 100%;
    background: radial-gradient(ellipse at 40% 0%, #bf398936 0, transparent 75%), radial-gradient(ellipse at 60% 0%, #096bde10 0, transparent 75%);
}

.welcome {
    display: flex;
    flex-direction:column;
    align-items: center;
    justify-content: center;
}

.welcome p {
    margin: 3.22px;
}

ul {
    padding: 0;
    margin: 0;
    padding-inline-start: 0 !important;
    margin-block-start: 0 !important;
    margin-block-end: 0 !important;
}

li {
    margin-bottom: 10px;
    list-style: none;
}

a {
    text-decoration: none;
    color: rgb(229 229 229);
}

.get-started-button {
    margin-top: 1.5em;
    padding: 10px 20px;
    border: 3px solid transparent;
    border-image: linear-gradient(to right, #ff8c00, #ff0080) 1;
    border-radius: 8px;
    color: rgb(229 229 229);
    font-weight: 600;
    font-size: 1.2em;
    transition: border 0.3s ease;
    border-image-slice: 1;
}

.get-started-button:hover {
    border-image: linear-gradient(to left, #ff8c00, #ff0080) 1;
}


h2 {
    color: rgb(245 245 245);
}

.section-link {
    display: flex;
    align-items: center;
    padding: 10px;
    border-radius: 8px;
    transition: background-color 0.3s ease;
}

.section-link:hover {
    background: rgba(22, 22, 36, 0.712); 
}

.section-icon {
    font-size: 1.5em;
}

.tooltip {
    display: none;
    position: absolute;
    background: rgba(22, 22, 36, 0.712); 
    padding: 8px;
    border-radius: 4px;
    font-size: 0.8em;
    margin-left: 45px;
    z-index: 6;
}

.section-link:hover .tooltip {
    display: block;
}

header{
    position: sticky;
    top: 0;
    text-align: right;
    /* z-index: 3; */
}

.logo {
    user-select: none;
    cursor:default;
    font-size: 2em;
    margin-bottom: 20px;
    background: linear-gradient(to right, #ff8c00, #ff0080), radial-gradient(ellipse at 60% 0%, #096bde10 0, transparent 75%);
    -webkit-background-clip: text;
    color: transparent;
    font-weight: 700;
    letter-spacing: 2px;
    display: inline-block;
    font-family: 'Noto Sans', sans-serif;
    font-weight: 200;
    position: relative;
}

.logo-container {
    float: right;
    max-width: fit-content;
    border-radius: 72%;
    padding: 22px;
    background: radial-gradient(ellipse at 2% 0, #cc21881f 0, transparent 35%)
}
/* .logo::after {
    content: "";
    position: absolute;
    bottom: -5px;
    left: 0;
    width: 100%;
    height: 1.22px;
    border-radius: 100px;
    background: linear-gradient(to right, #ff8c00a8, #ff0080a8);
} */

code {
    font-family: 'Roboto Mono', monospace;
    background: linear-gradient(45deg, #00e676, #2979ff);
    -webkit-background-clip: text;
    color: transparent;
    border-radius: 4px;
}

.code-container{
    cursor: pointer;
    background: #191919cc;
    width: fit-content;
    padding: 5px 13px;
    border-radius: 16px;
    opacity: 0.8;
    transition: all 0.3s ease;
    min-height: 38px;
}

.code-container:hover{
    opacity: 1;
    filter: brightness(1.1);
}

::-webkit-scrollbar {
    width: 10px;
}

::-webkit-scrollbar-track {
    background: #212121;
}

::-webkit-scrollbar-thumb {
    background: #313131;
}

::-webkit-scrollbar-thumb:hover {
    background: rgb(87, 87, 87);
}

.method-header{
    display:inline-block;
    border-radius: 5px; 
    padding: 5px 22px; 
    background: rgba(22, 22, 36, 0.712); 
    width: fit-content; 
    backdrop-filter: blur(5px);
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.method-container {
    position: sticky; 
    top: 1.4em; 
    z-index: 5;
}

pre {
    margin: 2em 5em;
    /* background: rgba(22, 22, 36, 0.5);*/
    /* background: radial-gradient(ellipse at 40% 0%, rgba(22, 22, 36, 0.5) 0, transparent 75%), radial-gradient(ellipse at 60% 0%, rgba(22, 22, 36, 0.5) 0, transparent 75%);  */
    background: radial-gradient(ellipse at 10% 10%, #61254910, #74335a10);
    padding: 1em;
    border-radius: 8px;
    overflow: auto;
    font-family: 'Roboto Mono', monospace;
    font-size: 14px;
    line-height: 1.5;
    color: #abb2bf85;
    backdrop-filter: blur(10px);
}

pre::-webkit-scrollbar {
    height: 8px;
}

pre::-webkit-scrollbar-track {
    background: #212121;
    border-radius: 8px;
    height: 8px;
}

pre::-webkit-scrollbar-thumb {
    height: 3px;
    background: linear-gradient(to right, #c57d247c, #85184e83);
    border-radius: 8px;
}

pre::-webkit-scrollbar-thumb:hover {
    background: linear-gradient(to left, #ff8c00, #ff0080);
}

.endpoint {
    margin-bottom: 4em;
    margin-left: 3em
}

/* Custom text selection colors */

::selection {
    background: #94366e2c;
    color: rgb(245 245 245);
}

::-moz-selection {
    background: #94366e2c;
    color: rgb(245 245 245);
}

footer {
    height: 44px;
    padding: 10px;
    /* background: radial-gradient(ellipse at 40% 0%, #bf398910 0, transparent 75%), radial-gradient(ellipse at 60% 0%, #096bde10 0, transparent 75%); */
    background: radial-gradient(ellipse at 10% 10%, #bf398910, #33597400);
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.5);
    text-align: right;
    display: flex;
    justify-content: flex-end;
    align-items: center;
}

footer p {
    color: #ffffff41;
    font-size: 0.8em;
}

@media only screen and (max-width: 600px) {
    .container {
        flex-direction: column;
        /* height: 100vh; */
    }

    aside {
        min-width: 100%;
        max-width: 100%;
        width: 100%;
        flex-direction: row;
        justify-content: space-between;
        padding: 10px;
        box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.1);
    }

    aside nav {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        width: 100%;
    }

    aside nav li {
        margin: 0;
    }

    aside nav li a {
        padding: 10px;
        border-radius: 8px;
        transition: background-color 0.3s ease;
    }

    aside nav li a:hover {
        background: rgba(22, 22, 36, 0.712); 
    }

    aside nav li a .tooltip {
        display: none;
    }

    aside nav li a .section-icon {
        font-size: 1.2em;
    }

    aside nav li a .section-name {
        display: none;
    }

    aside nav li a .section-name-mobile {
        display: block;
    }

    main {
        /* padding: 0; */
    }

    pre {
        margin: 1em 0;
    }

    .endpoint {
        margin-left: 0;
    }

    .logo {
        margin-bottom: 0;
    }

    code{
        word-break: break-all;
    }

    ul, li {
        display: inline-block;
    }

    .method-header{
        font-size:1.2rem !important;
        margin-left: -0.5em;
    }
    .method-container {
        top: 0; 
    }
}